:root {
  --orange: #d88d0d;
  --gray: #666;
  --light-gray: #777;
}

html {
  background-color: #333;
}

body {
  max-width: 375px;
  margin: auto;
  background: linear-gradient(90deg, #333 50%, var(--orange) 600%);
}

img {
  display: block;
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

p{
  margin: 0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message-box {
  max-width: 200px;
  padding: 7px;
}

.message-box-jade {
  align-self: flex-start;
  border-radius: 5px 5px 20px 0;
  background-color: var(--gray);
}

.message-box-julien {
  align-self: flex-end;
  border-radius: 5px 5px 0 20px;
  background-color: var(--orange);
}

.message-content,
.zone-text {
  color: #d9d9d9;
}

.time {
  text-align: center;
  color: var(--light-gray);
  margin: 5px;
}

.ui {
  display: flex;
  flex-direction: row;
}

.ui-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray);
  background: linear-gradient(90deg, var(--gray) 50%, var(--orange) 130%);
  padding: 10px;
  border: solid var(--orange);
  border-width: 0 2px 2px 0;
  border-radius: 0 0 60px 0;
}

.appel {
  display: flex;
  justify-items: space-between;
}

.appel img{
  width: 30px;
  margin: 0 30px;
}

.pfp {
  width: 40px;
}

.contact {
  margin: 0 0 0 10px;
  padding: 0 10px;
  flex-grow: 1;
  border: solid var(--orange) 2px;
  border-radius: 5px 5px 20px 0;
  color: #333;
}

.emoji {
  max-width: 30px;
}

.fin {
  text-align: center;
  color: var(--light-gray);
  font-size: 15px;
}

.photo img{
  border-radius: 5px 5px 20px 0;
}
